<%- include("partials/header") %>
    <div class="table-container">
        <h2 class="todo-title">Delete Todo</h2>
        <a class="btn" href="/">Back</a>

        <div class="confirm">
            <P>
                are you sure want to delete this?
                <a class="btn" href="">Yes</a>
                <a class="btn" href="">No</a>
            </P>
        </div>
    </div>
<%- include("partials/footer") %>