<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head>
<body>
    <div  class="table-container">
        <h2 class="todo-title"></h2>
        <div>
            <a class="btn" href="">Add Todo</a>

            <table>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Created at</th>
                    <th>Updated at</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>Tes Todo title</td>
                    <td>Tes Todo description</td>
                    <td>Tes Created at</td>
                    <td>Tes Updated at</td>
                    <td>
                        <a class="btn" href="">Edit</a>
                        <a class="btn" href="">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>